body{
  background: #e4ebeb;
  /*background: #29292E;*/
  font-weight: 400;
  font-family: 'Arvo', serif;
}

#background{
  background: #29292E;/*#11d493;*/
  position: absolute;
  /*top: 0px; right: 0px; bottom: 0px; left: 0px;*/
  width: 100%; height: 100%;
}

#gif{
  opacity: 0;
  position: absolute;
  top: 50%; left: 50%;
  transform: translateX(50%) translateY(-50%);
}

#background.open{
  width: 1024px; height: 600px;
  /*max-width: 1024px; max-height: 800px;*/
  top: 100px; right: 100px; left: 100px; bottom: 100px;
  transition: all .3s;
  transition-timing-function: cubic-bezier(0, 0.75, 0.6, 1.14);
  box-shadow: 0 0 40px 0px rgba(0, 0,0,.5);
  overflow: hidden;
  margin: auto;
}


#main{
  position: absolute;
  width: 1024px; height: 600px;
  top: 100px; right: 100px; left: 100px; bottom: 100px;
  overflow: hidden;
  margin: auto;
}

.corner_bottom_left{
  position: absolute;
  bottom: 30px; left: 30px;
}

h1{
  font-size: 24px;
  font-weight: 400;
  color: white;
  margin: 5px;
}

h1 span{
  font-weight: 700;
}

h2{
  margin: 5px;
  font-size: 18px;
  font-weight: 400;
  color:white;
}

#main *{
  opacity: 0;
}

#main.open *{
  opacity: 1;
  transition: all .3s;
  transition-delay: .1s;
}


#background .bubbles{
  position: absolute;
  top: 50%; left: 50%;
  border-radius: 50%;
  opacity: 0;
}

#background.open .pink_bubble{
  width: 200px; height: 200px;
  background: #F7576F;
  transform: translateX(-10%) translateY(120%);
  transition-delay: .2s;
}

#background.open .blue_bubble{
  width: 380px; height: 380px;
  background: #72C6CD;
  transform:translateX(-150%) translateY(-130%);
  transition-delay: .4s;
}


#background.open .orange_bubble{
  width: 100px; height: 100px;
  background: #FC9E57;
  transform: translateX(-350%) translateY(-170%);
  box-shadow: 0 0 40px 0px rgba(0, 0,0,.5);
  transition-delay: .6s;
}

#gif.open,
#background.open .bubbles{
  opacity: 1;
  transition: opacity .3s;
}
